<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <!-- changes from the defaults -->
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- 设置关联对象加载的形态，此处为按需加载字段(加载字段由SQL指定)，不会加载关联表的所有字段，以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!-- 对于批量更新操作缓存SQL以提高性能 -->
        <!--<setting name="defaultExecutorType" value="BATCH"/>-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

<!--    <typeAliases>
        <typeAlias type="com.review.www.entity.Passport" alias="Passport"/>
    </typeAliases>-->


    <plugins>
        <plugin interceptor="com.jopool.jweb.mybatis.page.plugin.PaginationInterceptor">
            <property name="dialectClass" value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect"/>
        </plugin>
    </plugins>

    <mappers>
        <mapper resource="mappers/Common.xml"/>
    </mappers>

</configuration>