*{
	padding: 0px;
	margin: 0px;
	font-family: 微软雅黑;
}
*{
	padding: 0px;
	margin: 0px;
}
.regcontent,.regprocedure{
	float: left;
}
.regprocedure{
	width: 220px;
	height: 660px;
	border: 1px solid #ccc;
}
.regprocedure span{
	padding: 5px 10px;
}
.regtitle{
	width: 600px;
	margin: 30px auto;
	text-align: center;
}
.regcontent{
	width: 730px;
	height: 650px;
	margin-left: 10px;
	border: 1px solid #ccc;
}
.reginfo{
	width: 400px;
	margin: 50px auto 0px auto;
}
.reginfo span{
	display: block;
}
.reginfo label{
	width: 80px;
}
.reginfo input, select{
	width: 250px;
	padding: 2px;
	margin-bottom: 15px;
}
.regbtn{
	margin-top: 15px;
}
.regbtn input{
	background: #fe6d14;
	border:0px;
	color: #fff;
	padding: 5px;
}
.regbtn input:hover{
	background: #fe6d30;
}
.news-title,.link-title{
	padding: 10px 0px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #ccc;

}
.news-title a:hover{
	text-decoration: none;
	
}