*{
	padding: 0px;
	margin: 0px;
	outline:none!important;
	font-family: 微软雅黑;
	font-weight: normal;
}

body{
	width: 100%;
	height: 100%;
}

.header{
	width: 100%;
	height: 69px;
	float: left;
	background: url(../images/head-bg.gif);
	box-shadow: 0px 0px 2px #ccc;
	margin-top: 5px;
}

.web-title .title-l{
	width: 10px;
	margin-top: -7px;
	height: 69px;
	display: block;
	float: left;
	background: url(../images/logo-bg-1.png)no-repeat left !important;
}

.web-title .txt{
	font-size: 12px;
	padding-top: 10px;
	height: 69px;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: -5px;
	background: url(../images/title-bg.png);
	
}

.web-title{
	width: 342px;
	display: block;
	float: left;
	padding: 5px 0px;
}

.web-title a,.web-title a:hover{
	font-size: 24px;
	color: #fff;
	text-decoration: none;
}

.header .nav{
	margin: 11px 0px;
}


.header .nav a{
	font-size: 16px;
	border-radius: 0px;
	color: #666 !important;
}
.current a{
	background: none !important;
	border-bottom: 2px solid #16aeed;
}
.header .nav a:hover{
	background: none;
	border-bottom: 2px solid #16aeed;
}

.container{
	width: 961px !important;
}
.main{
	width: 961px;
	float: left;
	margin-top: 20px;
}
.footer{
	width: 100%;
	text-align: center;
	background: rgba(204,204,204,0.2);
	float: left;
	margin-top: 30px;
}
.footer a{
	color: #000;

}
.copyright{
	width: 100%;
	padding: 10px;
	line-height: 25px;
	float: left;
}
.copyright span{
	display: block;
}