<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.review.www.dao.ClassThreeMapper" >
  <resultMap id="BaseResultMap" type="com.review.www.entity.ClassThree" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="class_one_id" property="classOneId" jdbcType="CHAR" />
    <result column="class_two_id" property="classTwoId" jdbcType="CHAR" />
    <result column="reviewProgram_id" property="reviewprogramId" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="creator" property="creator" jdbcType="CHAR" />
    <result column="creation_time" property="creationTime" jdbcType="TIMESTAMP" />
    <result column="backup_one" property="backupOne" jdbcType="VARCHAR" />
    <result column="backup_two" property="backupTwo" jdbcType="VARCHAR" />
    <result column="backup_three" property="backupThree" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, class_one_id, class_two_id, reviewProgram_id, name, remark, start_time, end_time, 
    status, is_deleted, creator, creation_time, backup_one, backup_two, backup_three
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from class_three
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from class_three
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.review.www.entity.ClassThree" >
    insert into class_three (id, class_one_id, class_two_id, 
      reviewProgram_id, name, remark, 
      start_time, end_time, status, 
      is_deleted, creator, creation_time, 
      backup_one, backup_two, backup_three
      )
    values (#{id,jdbcType=CHAR}, #{classOneId,jdbcType=CHAR}, #{classTwoId,jdbcType=CHAR}, 
      #{reviewprogramId,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{isDeleted,jdbcType=BIT}, #{creator,jdbcType=CHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{backupOne,jdbcType=VARCHAR}, #{backupTwo,jdbcType=VARCHAR}, #{backupThree,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.review.www.entity.ClassThree" >
    insert into class_three
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="classOneId != null" >
        class_one_id,
      </if>
      <if test="classTwoId != null" >
        class_two_id,
      </if>
      <if test="reviewprogramId != null" >
        reviewProgram_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationTime != null" >
        creation_time,
      </if>
      <if test="backupOne != null" >
        backup_one,
      </if>
      <if test="backupTwo != null" >
        backup_two,
      </if>
      <if test="backupThree != null" >
        backup_three,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="classOneId != null" >
        #{classOneId,jdbcType=CHAR},
      </if>
      <if test="classTwoId != null" >
        #{classTwoId,jdbcType=CHAR},
      </if>
      <if test="reviewprogramId != null" >
        #{reviewprogramId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backupOne != null" >
        #{backupOne,jdbcType=VARCHAR},
      </if>
      <if test="backupTwo != null" >
        #{backupTwo,jdbcType=VARCHAR},
      </if>
      <if test="backupThree != null" >
        #{backupThree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.review.www.entity.ClassThree" >
    update class_three
    <set >
      <if test="classOneId != null" >
        class_one_id = #{classOneId,jdbcType=CHAR},
      </if>
      <if test="classTwoId != null" >
        class_two_id = #{classTwoId,jdbcType=CHAR},
      </if>
      <if test="reviewprogramId != null" >
        reviewProgram_id = #{reviewprogramId,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=CHAR},
      </if>
      <if test="creationTime != null" >
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backupOne != null" >
        backup_one = #{backupOne,jdbcType=VARCHAR},
      </if>
      <if test="backupTwo != null" >
        backup_two = #{backupTwo,jdbcType=VARCHAR},
      </if>
      <if test="backupThree != null" >
        backup_three = #{backupThree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.review.www.entity.ClassThree" >
    update class_three
    set class_one_id = #{classOneId,jdbcType=CHAR},
      class_two_id = #{classTwoId,jdbcType=CHAR},
      reviewProgram_id = #{reviewprogramId,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      creator = #{creator,jdbcType=CHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      backup_one = #{backupOne,jdbcType=VARCHAR},
      backup_two = #{backupTwo,jdbcType=VARCHAR},
      backup_three = #{backupThree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <!--custom-->
  <select id="search" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from class_three
    <where>
      <if test="keyword != null and keyword != '' ">
        name LIKE CONCAT('%','${keyword}','%' )
      </if>
      <if test="status>0 ">
        AND status = #{status,jdbcType=TINYINT}
      </if>
    </where>
  </select>
</mapper>