<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.review.www.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.review.www.entity.Project" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="backup_one" property="backupOne" jdbcType="VARCHAR" />
    <result column="backup_two" property="backupTwo" jdbcType="VARCHAR" />
    <result column="backup_three" property="backupThree" jdbcType="VARCHAR" />
    <result column="backup_four" property="backupFour" jdbcType="VARCHAR" />
    <result column="backup_five" property="backupFive" jdbcType="VARCHAR" />
    <result column="class_three_id" property="classThreeId" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="subjectcategory_id" property="subjectcategoryId" jdbcType="CHAR" />
    <result column="disciplinecategory_id" property="disciplinecategoryId" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, file, backup_one, backup_two, backup_three, backup_four, backup_five, class_three_id, 
    user_id, subjectcategory_id, disciplinecategory_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.review.www.entity.Project" >
    insert into project (id, name, file, 
      backup_one, backup_two, backup_three, 
      backup_four, backup_five, class_three_id, 
      user_id, subjectcategory_id, disciplinecategory_id
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{file,jdbcType=VARCHAR}, 
      #{backupOne,jdbcType=VARCHAR}, #{backupTwo,jdbcType=VARCHAR}, #{backupThree,jdbcType=VARCHAR}, 
      #{backupFour,jdbcType=VARCHAR}, #{backupFive,jdbcType=VARCHAR}, #{classThreeId,jdbcType=CHAR}, 
      #{userId,jdbcType=CHAR}, #{subjectcategoryId,jdbcType=CHAR}, #{disciplinecategoryId,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.review.www.entity.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="backupOne != null" >
        backup_one,
      </if>
      <if test="backupTwo != null" >
        backup_two,
      </if>
      <if test="backupThree != null" >
        backup_three,
      </if>
      <if test="backupFour != null" >
        backup_four,
      </if>
      <if test="backupFive != null" >
        backup_five,
      </if>
      <if test="classThreeId != null" >
        class_three_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="subjectcategoryId != null" >
        subjectcategory_id,
      </if>
      <if test="disciplinecategoryId != null" >
        disciplinecategory_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="backupOne != null" >
        #{backupOne,jdbcType=VARCHAR},
      </if>
      <if test="backupTwo != null" >
        #{backupTwo,jdbcType=VARCHAR},
      </if>
      <if test="backupThree != null" >
        #{backupThree,jdbcType=VARCHAR},
      </if>
      <if test="backupFour != null" >
        #{backupFour,jdbcType=VARCHAR},
      </if>
      <if test="backupFive != null" >
        #{backupFive,jdbcType=VARCHAR},
      </if>
      <if test="classThreeId != null" >
        #{classThreeId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="subjectcategoryId != null" >
        #{subjectcategoryId,jdbcType=CHAR},
      </if>
      <if test="disciplinecategoryId != null" >
        #{disciplinecategoryId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.review.www.entity.Project" >
    update project
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="backupOne != null" >
        backup_one = #{backupOne,jdbcType=VARCHAR},
      </if>
      <if test="backupTwo != null" >
        backup_two = #{backupTwo,jdbcType=VARCHAR},
      </if>
      <if test="backupThree != null" >
        backup_three = #{backupThree,jdbcType=VARCHAR},
      </if>
      <if test="backupFour != null" >
        backup_four = #{backupFour,jdbcType=VARCHAR},
      </if>
      <if test="backupFive != null" >
        backup_five = #{backupFive,jdbcType=VARCHAR},
      </if>
      <if test="classThreeId != null" >
        class_three_id = #{classThreeId,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="subjectcategoryId != null" >
        subjectcategory_id = #{subjectcategoryId,jdbcType=CHAR},
      </if>
      <if test="disciplinecategoryId != null" >
        disciplinecategory_id = #{disciplinecategoryId,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.review.www.entity.Project" >
    update project
    set name = #{name,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      backup_one = #{backupOne,jdbcType=VARCHAR},
      backup_two = #{backupTwo,jdbcType=VARCHAR},
      backup_three = #{backupThree,jdbcType=VARCHAR},
      backup_four = #{backupFour,jdbcType=VARCHAR},
      backup_five = #{backupFive,jdbcType=VARCHAR},
      class_three_id = #{classThreeId,jdbcType=CHAR},
      user_id = #{userId,jdbcType=CHAR},
      subjectcategory_id = #{subjectcategoryId,jdbcType=CHAR},
      disciplinecategory_id = #{disciplinecategoryId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>