*{
	padding: 0px;
	margin: 0px;
	font-family: 微软雅黑;
}
.header{
}
.main{
	float: left;
	width: 100%;
}
.regtitle{
	text-align: center;
}
.regcontent{
	margin: 0 auto;
	width: 900px;
	height: 650px;
}
.reginfo{
	text-align: center;
	margin-top: 50px;
}
.reginfo span{
	display: block;
}
.reginfo label{
	width: 80px;
}
.reginfo input, select{
	width: 250px;
	padding: 2px;
	margin-bottom: 15px;
}
.regbtn{
	margin-top: 15px;
}
.regbtn input{
	background: #fe6d14;
	border:0px;
	color: #fff;
	padding: 5px;
}
.regbtn input:hover{
	background: #fe6d30;
}
.news-title,.link-title{
	padding: 10px 0px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #ccc;

}
.news-title a:hover{
	text-decoration: none;
	
}