*{
	padding: 0px;
	margin: 0px;
	outline:none!important;
}

.main-top{
	width: 950px;
	float: left;
}

.main-slide{
	height: 292px;
}
.item img{
	width: 950px !important;
	height: 292px !important;
}


.news-title,.link-title{
	padding: 10px 0px;
	margin-top: 15px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #ccc;

}
.news-title a:hover{
	text-decoration: none;

}
.news-content{
	margin-top: 20px;
	font-size: 12px;
}
.news-content a{
	color:#333;
}
.news-content a:hover{
	text-decoration: none;
	color: #666;

}
.news-content span{
	font-size: 12px;
}
.news-content ul li{
	list-style: url(../images/li-icon.png);
	padding: 5px 5px;
	margin-left: 16px;
}

.btn-div{
	float: left;
}

.main-foot{
	width: 950px;
	height: 292px;
	margin-top: 20px;
	float: left;
}
.main-foot-notice{
	width: 550px;
	height: 292px;
	float: left;
}


.main-foot-fast{
	width: 318px;
	margin-left: 20px;
	float: right;
}
.content{
	width: 300px;
	margin-top: 27px;
}
.block-l,.block-r{
	width: 147px;
	height: 165px;
	float: left;
	text-align: center;
}
.block-l{
	margin-right:5px;:
}
.left-1,.right-1{
	width: 147px;
	height: 74px;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	border-radius: 5px;
	line-height: 74px;
	font-size: 16px;
	background: url(../images/link-bg.png);
}
.left-1 img,.right-1 img{
	padding-right: 5px;
}
.left-2,.right-2{
	width: 147px;
	height: 74px;
	float: left;
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	border-radius: 5px;
	line-height: 74px;
	font-size: 16px;
	margin-top: -7px;
	z-index: 100;
	background: url(../images/link-bg.png);

}
.main-right a:hover{
	text-decoration: none;
}
.connect{
	display: block;
	float: left;
	margin-left: 23px;
	width: 5px;
	height: 21px;
	background: url(../images/connect.png);
	margin-top: -10px;
	z-index: 1000;
	position: relative;
}
.content a:hover{
	text-decoration: none;
}

.login-content{
	margin-top: 15px;
}

.info-div input{
	width: 194px;
	font-size: 14px;
}
.info-div .radio input{
	line-height: 24px;
}
label{
	font-weight: normal;
}