*{
	padding: 0px;
	margin: 0px;
	font-family: 微软雅黑;
}
.header{
}
.main{
	float: left;
	width: 100%;
}
.regtitle{
	text-align: center;
}
.regcontent{
	margin: 0 auto;
	width: 900px;
	height: 650px;
}
.reginfo{
	width: 300px;
	margin:0 auto;
	margin-top: 50px;
}

.news-title,.link-title{
	padding: 10px 0px;
	font-size: 16px;
	font-family: 微软雅黑;
	border-bottom: 1px solid #ccc;

}
.news-title a:hover{
	text-decoration: none;

}