.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	cursor: pointer;
	/*color: #fff;*/
	text-align: center;
	overflow: hidden;
	width: 90px;
	height: 90px;
}
.webuploader-pick-hover {
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}
.upload-file .webuploader-pick {
	width: 100px;
	height: 50px;
	text-align: left;
}
.certificates-img .webuploader-pick {
	width: 250px;
	height: 300px;
	text-align: left;
}
